body {
    background-color: #116466;
    font-size: 150%;
    /* font-family: "Playfair Display", serif;
    color: white;
    display: flex;
    min-height: 100vh;
    flex-direction: column; */
  }
  
  /* nav {
    text-align: center;
    border-bottom: 0px;
    box-shadow: 0px 0px;
  }
  
  nav ul a {
    font-size: 140%;
    line-height: 56px;
  }
  
  nav i.material-icons {
    font-size: 135%;
  }
  
  .nav-wrapper {
    background-color: #313533;
    height: fit-content;
    padding: 0px;
    border-bottom: 1px solid white;
  }
  
  .menu {
    width: 25%;
    margin: 0% 20% 0% 0%;
    display: flex;
    justify-content: space-between;
  }
  
  a {
    color: #fff;
  }
  
  a:hover {
    color: #32e1e4;
    background-color: #313533 !important;
  }
  
  #mobile {
    width: 250px;
    background-color: #c9cecc;
    color: #188f91;
  }
  
  .sidenav li > a {
    font-size: 150%;
  }
  
  .sidenav li > a:hover {
    color: #fff;
  }
  
  .sidenav li > a > i {
    font-size: 125%;
  }
  
  .sidenav li > a > i:hover {
    color: #fff;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  .hiddenName {
    display: none;
    font-size: 175%;
  }
  
  #content {
    display: flex;
    flex-direction: column;
    border: 1px solid #2c3531;
    margin: 10px 0px;
    padding: 5px;
    min-height: 82vh;
    border-radius: 20px;
    background-color: #313533;
    color: white;
    text-align: center;
    justify-content: center;
    height: fit-content;
  }
  
  .page-footer {
    margin-bottom: auto;
    text-align: center;
    background-color: #313533;
    border-top-color: 1px solid white;
  }
  
  .lowerLinks {
    display: flex;
    justify-content: space-evenly;
  }
  
  .contactImg {
    border-radius: 50%;
    height: 32px;
    width: 32px;
  }
  
  .contactImg:hover {
    background-color: #999999;
  }
  
  .linkedInImg:hover {
    background-color: #32e1e4;
  }
  
  .drag-target {
    width: 0px !important;
  }
  
  #contentHeading {
    font-size: 175%;
    background-color: #313533;
    color: #fff;
    margin-block-start: 0em;
    padding-top: 5%;
  }
  
  .examples {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    width: 100%;
  }
  
  .project {
    font-size: 100%;
    margin: 10px 0px;
    align-content: center;
    border: 3px solid white;
    width: fit-content;
    max-width: 425px;
    transition: all 0.5s ease-in-out;
    position: relative;
  }
  
  .card {
    background-color: #6e6e6e;
    color: white;
    font-size: 120%;
  }
  
  .links {
    display: flex;
    color: #313533;
    justify-content: space-evenly;
    background-color: #6e6e6e;
    border-top: 8px solid #6e6e6e;
    align-content: bottom;
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
  
  .externalLink {
    color: #fff;
    font-size: 115%;
  }
  
  .externalLink:hover {
    color: #d1d1d1;
    background-color: #6e6e6e !important;
  }
  
  .resume {
    color: #fff;
    background-color: #313533;
    font-size: 95%;
    width: 100%;
    align-self: center;
  }
  
  .resumeLink {
    background-color: #313533;
    border: none;
    color: white;
  }
  
  .resumeLink:hover {
    background-color: #313533;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
  }
  
  span {
    font-size: 180%;
  }
  
  @media only screen and (max-width: 1500px) {
    #picMe {
      width: 300px;
      height: 300px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    #picMe {
      width: 200px;
      height: 200px;
    }
  
    .name {
      display: none;
    }
  
    .hiddenName {
      display: block;
      width: 100%;
      text-align: center;
    }
  } */