body {
    background-color: #116466;
    font-family: "Playfair Display", serif !important;
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
    justify-content: center;
    margin: 0px;
}


.MuiMenuItem-root {
    font-size: 24px !important;
    color: white !important;
}

.MuiMenuItem-root:hover {
    color: #32e1e4 !important;
}

.MuiDrawer-paper {
    background-color: #313533 !important;
}

